{# templates/FOSUserBundle/layout.html.twig #}

{% extends "layout.html.twig" %}


{% block title %}
  Utilisateur - {{ parent() }}
{% endblock %}

{% block colgche %}

 <ul class="nav nav-pills nav-stacked">
          <li><a href="{{ path('core_home') }}">Accueil</a></li>

            <li></li>

        </ul>
{% endblock %}

{% block body %}
        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
{% endblock %}