 {% extends "layout.html.twig" %}
{% block title %} Attribution des prix {% endblock %}

{% block titre3 %} Attribution des {{ NbrePrix}} {{ niveau }} prix {% endblock %}

{% block navigation %}
	{{ include ("secretariat/navigation.html.twig") }}
{% endblock %}

{% block body %}

<div class="well">
   {{ form(form) }} 
</div>


{% endblock %}