 {% extends "layout.html.twig" %}
{% block title %} Attribution des prix {% endblock %}

{% block titre3 %} Attribution des {{ NbrePrix}} {{ niveau }} prix {% endblock %}

{% block navigation %}
	{{ include ("secretariat/navigation.html.twig") }}
{% endblock %}

{% block body %}
    

<div class="well">
    {% for form in formtab %}
        
   <table> 
       <tr>
            <td>
        {{ form(form) }} 
            
       </tr>
   </table>
   {% endfor %}
</div>


{% endblock %}