<button type="button" class="btn btn-default btn-block"  > 
	<span class="glyphicon glyphicon-user">  </span>  
		{{ app.user.username}}  
</button>
<a href="{{ path('fos_user_security_logout')}}" class="glyphicon glyphicon-log-out"> Déconnexion</a>
	

{{ knp_menu_render('secretariat', {'currentClass': 'active'}) }}

