<button type="button" class="btn btn-light btn-block"  > 
	<i class="fas fa-user">  </i>  
		{{ app.user.username}}  
</button>
<a href="{{ path('fos_user_security_logout')}}" class="fas fa-procedures"> Déconnexion</a>
	

{{ knp_menu_render('secretariat', {'currentClass': 'active'}) }}

