{% extends "layout.html.twig" %}
{% block title %} Préparation {% endblock %}
{% block titre3 %}  Chargement de fichier Excel {% endblock %}

{% block navigation %}
	{{ include ("secretariat/navigation.html.twig") }}
{% endblock %}

{% block body %}
    <div class='well'>
        {{ form(form) }}
    </div>
{% endblock %}