<ul>
    <li><a href="{{ path('cyberjury_accueil')}}" class="glyphicon glyphicon-home"> Accueil</a></li>
    {#<li><a href="{{ path('odpf_cyber_jury_tableau_de_bord')}}" class="glyphicon glyphicon-list"> Tableau de bord</a></li>#}
    <li><a href="{{ path('fos_user_security_logout')}}" class="glyphicon glyphicon-log-out"> Déconnexion</a></li>
</ul>
