{# templates/layout.html.twig 
Layout de départ du site #}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/favicon.png"/>    
    <title>{% block title %}OlymPhys{% endblock %}</title>

    {% block stylesheets %}
      {# On charge le CSS de bootstrap depuis le site directement #}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% endblock %}
  </head>

  <body>
  <div class="container">
      <div class="page-header">
    {#<div id="header" class="jumbotron">
      <h1>Olympiades de Physique France</h1>
    <img src="../public/Phi.png" alt="logo des OdpF"  width="300"/>#}
    <img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Logo_odpf_long.png" alt="logo des OdpF"  width="300"/>  					<h1 align="right"> 
    </div>
		<div class ="row">
			<div id="menu" class="col-md-3">
				<ul class="nav nav-pills nav-stacked">
					{% block navigation %}
					{% endblock %}
				</ul>
			</div>

			<div id="content" class="col-md-9">
				<h3> {% block titre3 %}
				     {% endblock %} 
				</h3> 
				<hr>
				{% block body %}
				{% endblock %}
			</div>
		</div>

		<hr>

			
		</div>

    
    <hr>

    <footer>
      <p>Réalisé sous Symfony4</p>
    </footer>
  </div>

  {% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  {% endblock %}

  </body>
</html>
